header {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border: 3px solid rgb(187, 153, 122);
    background: rgb(226, 184, 147);
    padding-top: 1rem;
    padding-bottom: 1rem;   
    font-family: 'Roboto', sans-serif;
}