* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: rgb(187, 153, 122);
}


/* Media Queries small phones */ 
@media (min-width: 280px) {

    body {
        background-color:  rgb(226, 184, 147);
    }

    header {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        border: 3px solid rgb(187, 153, 122);
        background: rgb(226, 184, 147);
        padding-top: 1rem;
        padding-bottom: 1rem;   
        font-family: 'Roboto', sans-serif;
    }

    .input-containers {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 1rem;
    }

    #operator, #description, #value, button {
        border: 2.5px solid  rgb(187, 153, 122);
        margin: 0.2rem;
        width: 40%;
        display: flex;
        justify-content: center;
        align-self: center;
        font-size: 0.9rem;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }



    

    .result {
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.8rem;
    }

    #totalBudget, #income-h1, #expenses-h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    }

    h1 {
        border-bottom: 1.5px solid  rgb(187, 153, 122);
        width: 100%;
        font-family: 'Roboto', sans-serif;
    }
}


/*Media Queries larger devices 992*/
@media (min-width: 768px) {
    header {
        font-size: 2rem;
    }

    .input-containers {
        display: flex;
        flex-direction: row;
        width: 70%;
        margin: auto;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

    #operator, #description, #value, button {
        border: 3px solid  rgb(187, 153, 122);
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        padding: 0.5rem;
    }

    .result {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0.8rem;
        justify-content: center;
    }

    #totalBudget, #income-h1, #expenses-h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    padding: 1.7rem;
    }

    #inc, #exp, #total {
        height: 25rem;
    }


    h1 {
        border-bottom: 5px solid  rgb(187, 153, 122);
        font-family: 'Roboto', sans-serif;
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 2.5rem;
    }

}



/* For small & larger laptops/desktops*/
@media (min-width: 1200px) {

    header {
        font-size: 3rem;
    }

    .input-containers {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: auto;
        padding: 3rem;
    }


    #operator, #description, #value, button {
        padding: 1rem;
    }

    .result {
        font-size: 1.5rem;
        color: black;
        background-image: url(pics/savings.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        margin: 1rem;

    }

    #inc, #exp, #total {
        background-color:  rgb(226, 184, 147);
        opacity:75%;
        font-weight: bolder;
    }


    h1 {
        background-color:  rgb(226, 184, 147);
        border: none;
        font-weight: bolder;
    }




}

